:root{
    --textColor: #000;
    /* --accent:#1050da; */
    --yellow:#EBD96B;
}

body{
    font-family: 'Popins', sans-serif;
    color:var(--textColor);
}

.container{
    max-width: 1780px;
    margin: 0 auto;
    padding: 0 30px;
}