.card {
    position: relative;
    /* cursor: pointer; */
}

.card:hover .card__img{
    animation: opacity 0.2s ease-in-out;
}
.card:hover .card__icon{
    animation: slide 0.5s ease-in-out;
}

@keyframes opacity{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}

@keyframes slide{
     0%{
        left: 0;
    }
    50%{
        left: -20px;
    }
    100%{
        left: 0;
    }
}

.card__link{
    z-index: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.card__img {
    margin-bottom: 28px;
    border-radius: 20px;
}

.card__body {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    align-items: center;
}

.card__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 156%;
    letter-spacing: -0.04em;
    margin-bottom: 7px;
}

.card__muted {
    font-weight: 500;
    font-size: 24px;
    line-height: 208%;
    letter-spacing: -0.04em;
    color: var(--gray)
}

.card__icon{
    position: relative;
    /* left: 0; */
}